# Workspaces
node_modules
backend/build
frontend/.next
github-bot/build
tools/**/build
backend/.env
backend/config.yml
github-bot/config.yml

# Jetbrains IDEs
.idea/
*/.idea/

# Husky - pre-commit hooks
.husky/_/
