# Yarn Workspaces
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Other
node_modules
backend/build
frontend/.next
github-bot/build
tools/**/build

# Jetbrains IDEs
.idea/
*/.idea/
