<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[ %thread ] [ %logger{36} ] %level | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dev.floofy.arisu" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.mongodb" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="Exposed" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
